$accentColor: #A445ED;
$secondaryColor: #757575;
$dangerColor: #FF5252;
$tertiaryColor: #2D2D2D;

$light-primaryBg: #FFFFFF;
$light-secondaryBg: #F4F4F4;
$light-tertiaryBg: #E9E9E9;

$dark-primaryBg: #050505;
$dark-secondaryBg: #1F1F1F;
$dark-primaryText: #FFFFFF;



$heading-lg: 4rem;
$heading-md: 3rem;
$heading-sm: 2rem;
$heading-xs: 1rem;

//spacing
$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;